@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    color: black;
    background-color: white;
    font-family:sans-serif;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    
}
span{
    color:  rgb(2, 92, 14);
}
header{
    margin: 20px;
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    
   


}
 header h2{

     
     font-size: 17px;
} 
header .Data-container{
margin-top:15px;

display: flex;
flex-direction: column;
font-size: 17px;
font-weight: 700;

}
header .Data-container .val{
    width: 300px;
}


header .Data-container div{
    margin: 10px;
    margin-left: 0px;
   
   
}
.Data-container .topval{
    display: flex;
    justify-content: space-between;
}
.Data-container .bot-val{
    display: flex;
    justify-content: space-between;
}
.mid{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 600;
    margin: 30px;
}

.mid div{
    margin-top: 20px;
}

.container .search{
    display: flex;
    flex-direction: row;
    margin-left:30px ;
    width: 1150px;
    height: 40px;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
}
.container .search i{
    padding: 8px;
    cursor: pointer;
}
.search input{
  
   
    padding-left: 10px;
    width: 80%;
   
    outline: none;
    border: none;

}
.container .btm{
    display: grid;
    grid-template-columns: 1fr 1fr;


    margin: 20px;
   
}
.container .btm .btm-data{
    border: 2px solid black;
    margin-left: 10px;
    margin-top: 40px;
    width: 90%;
    font-weight: 600px;
    border-radius: 10px;

}
.container .btm .btm-data div{
    margin: 17px;
}

